@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click here to <a asp-controller="StudentGrades" asp-action="CalculateGrades">calculate the grades!</a></p>
</div>
